@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

body {
    background-color: rgb(27, 27, 27);
}

h1 {
    margin-top: 10em;
    font-family: "Quicksand", sans-serif;
    color: white;
}